*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height:100%;
}

/* -------scrollbar--start-------- */
::-webkit-scrollbar{
    width: 0.5vw;
}
::-webkit-scrollbar-thumb{
    background-color: #DBB258;
    border-radius: 100px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px white;
    border-radius: 100px;
}
/* -------scrollbar--end-------- */

.maincontainer{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}
.maincontainer>.container{
    display: flex;
    width: 100%;
    height: 100%;
    position: sticky;
    z-index: 99;
    top: 0;
    bottom: 0;
    overflow: hidden;
}
.container>nav{
    position: relative;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vmax 2.1vmax;
}

.container>nav>h1{
    font-family: Times New Roman'Gideon Roman';
    Font-size: 20px;
    Font-weight: 400;
    Line-height: 18px;
    color: rgb(0, 0, 0);
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: move 0.5s linear 6s both ;
    top: 0%;
    left: 2.2%;
    position: absolute;
    
} 
@keyframes move {
    from{
        opacity: 0;
        top: 0%;
        left: 2.2%;
    }to{
        opacity: 1;
        top: 60%;
        left: 2.2%;
    }
}  
.container>nav>i{
    font-size: 1.6vmax;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    outline: 0.2vmax solid white;
    transition: all 0.5s ease;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: text 0.5s linear 6s both ;
    top: 0%;
    left: 94%;
    z-index: 100;
    position: absolute;
}
@keyframes text {
    from{
        opacity: 0;
        top: 0%;
        left: 94%;
    }to{
        opacity: 1;
        top: 70%;
        left: 94%;
    }
}  

.container>nav>i:hover{
    transform: scale(1.19);
}


/*----------------container--left---------------------*/
.container>.left{
    width: 50%;
    height: 100%;
    z-index: -1;
    background-color: #DBB258;
}
.container>.left>h1{
    /* margin: 15vmax 0 0 0vmax; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    Font-size: 99.6042px;
    Font-weight: 400;
    Line-height: 99.6042px;
    color: rgb(0, 0, 0);
    animation: none1 0.9s linear 5.8s both ;
    top: 35%;
    left: 2%;
    position: absolute;
    
}
@keyframes none1 {
    from{
        opacity: 0;
        top: 35%;
        left: 2%;
    }to{
        opacity: 1;
        top: 25%;
        left: 2%;
    }
} 
.container>.left>p{
    margin: 34.4vmax 0 0 25vmax;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    Font-size:20.8695px;
    Font-weight: 400;
    Line-height:  27.1303px;
    color: rgb(0, 0, 0)
}
.container>.left>button{
    margin: 3.2vmax 0 3.3vmax 25vmax;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    Font-size: 15.1778px;
    Font-weight: 400;
    Line-height:  16.6955px;
    background-color: transparent;
    border-style: none;
    transition: all 0.5s ease;
    color: rgb(0, 0, 0) 
}
.container>.left>button:hover i{
    transform: translateY(40%);  
}
.container>.left>button>i{
    margin:  0 0 0 0.8vmax;
    transition: all 0.5s ease;
}

/*----------------container--right---------------------*/
.container>.right{
    width: 50%;
    height: 100%;
    /* background-image: url(download.png); */
    background-position: center;
    background-size: cover;
    overflow: hidden;
    /*  */   
}
.container>.right{
    width: 100%;
    height: 100%;
    background-position:center;
    background-size: cover;
    position: absolute;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: Text5 3s ease-in-out 3s both;
    top: 0;
    left: 0; 
    z-index: -1;   
}
@keyframes Text5 {
    from{
        transition: all 0.3s ease;
        top: 0;
        left: 0;
    }
    to{
        transform: translateX(50);
        top: 0;
        left: 50%;
    
    }
    
}

/*----------menubar--show------------*/
.button1{

    font-size: 2.5vmax;
    top: 90%;
    left: 95%;
    color: white;
    position: absolute;
    position: fixed;
    transition: all 0.5s ease;
    cursor: pointer;
    animation: none2 0.5s linear 6s both;
    top: 90%;
    left: 93.5%;

}
@keyframes none2 {
    from{
        opacity: 0;
        top: 100%;
        left: 93.5%;
    }to{
        opacity: 1;
        top: 90%;
        left: 93.5%;
    }
} 
.menupop{
    padding: 5vmax 3vmax;
    width: 19%;
    height: 65%;
    background-color: #DBB258;
    /* top: 28%;
    left: 78%; */
    top: 25%;
    left: 77%;
    color: aliceblue;
    position: absolute;
    /* position: fixed; */
    cursor: pointer;
    display: none;
    transition: all 0.5s ease;
    z-index: 1;
    position: fixed;
}
.menupop>.one{
    margin: 0.5vmax 0 0 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    Font-size: 20.8695px;
    Font-weight: 400;
    Line-height: 35.4781px;
    color: rgb(0, 0, 0);
}
.menupop>.home1{
    margin: 0 0 3vmax 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    Font-size: 36.0472px;
    Font-weight: 400;
    Line-height: 39.652px;
    color: rgb(0, 0, 0);
    
}

/*---------------------*/
.menubar{
    width: 100%;
    height: 100%;
    position: absolute;
    position: fixed;
    display: flex;
    top: -100%;
    padding: 2vmax 0vmax 0 2vmax;
    background-color: #1E1E1E;
    transition: all 0.5s ease;

}
.menubar>.one100{
    width: 10%;
    height: 100%;
    color: #DBB258;
    background-color:#1E1E1E;
    font-family: "Times New Roman";
    Font-size: 24px;
    Font-weight: 400;
    Line-height: 16px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
/*----two2---*/
.menubar>.two2{
    width: 40%;
    height: 100%;
    background-color: #1E1E1E;
    color: #DBB258;
    margin: 0 0 0 8vmax;
}
.menubar>.two2>h1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    Font-size: 17.075px;
    Font-weight: 400;
    Line-height: 23.905px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.menubar>.two2>.two100>img{
    margin: 0vmax 0vmax 0 0vmax;
    cursor: pointer;
    transition: all 0.1s ease;
}
.menubar>.two2>.two100>img:hover{
    transform: scale(1.01);
}
.menubar>.two2>.two101>img{
    margin: 2vmax 0vmax 0 0vmax;
    cursor: pointer;
    transition: all 0.1s ease;
}
.menubar>.two2>.two101>img:hover{
    transform: scale(1.01);
}

/*----there3---*/
.menubar>.there3{
    width: 40%;
    height: 100%;
    background-color: #1E1E1E;
    color: #DBB258;
    margin: 0 0 0 2vmax;
}
.menubar>.there3>h1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    Font-size: 17.075px;
    Font-weight: 400;
    Line-height: 23.905px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.menubar>.there3>.there300>img{
    margin: 0vmax 0 0 0vmax;
    cursor: pointer;
    transition: all 0.1s ease;
}
.menubar>.there3>.there300>img:hover{
    transform: scale(1.01);
}
.menubar>.there3>.there301>img{
    margin: 2vmax 0 0 0vmax;
    cursor: pointer;
    transition: all 0.1s ease;
}
.menubar>.there3>.there301>img:hover{
    transform: scale(1.01);
}





/*-----------------------container2--------------------------*/
.container2{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    position: sticky;
    z-index: 98;
    top: 0;
    bottom: 0;
}

/*----------------container2--left-------------- */
.container2>.left{
    width: 40%;
    height: 100%;
    position: relative;
    position: sticky;
    z-index: 98;
    top: 0;
    bottom: 0;
}
.container2>.left>img{
    width: 100%;
    height: 100%;

}

/*----------------container2--right-------------- */
.container2>.right{
    width: 60%;
    height: 100%;
    background-color: white;
    position: relative;
    position: sticky;
    z-index: 98;
    top: 0;
    bottom: 0;
}
.container2>.right>h1{
    margin: 10vmax 0 0 3vmax;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    Font-size: 53.1222px;
    Font-weight: 400;
    Line-height: 58.4345px;
    color: rgb(0, 0, 0);
}
.container2>.right>h2{
    margin: 7vmax 0 6.3vmax 30vmax;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    Font-size: 20.8695px;
    Font-weight: 400;
    Line-height: 27.1303px;
    color: rgb(0, 0, 0);
}
.container2>.right>h2>span{
    font-size: 4vmax;
    margin: 1.4vmax 1vmax 0 0;
    position: absolute;
}

/*---------------------container3-------------------- */
.container3{
    width: 100%;
    height: 100%;
    position: relative;
    position: sticky;
    z-index: 97;
    top: 0;
    bottom: 0;
    background-color: #D4C9B7
  
}
.container3>h1{
    padding: 4vmax 0 0 2vmax;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    Font-size: 30.3555px;
    Font-weight: 400;
    Line-height: 36.4266px;
    color: rgb(0, 0, 0); 
}
.container3>h2{
    padding: 3vmax 0 9vmax 2vmax;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    Font-size: 90.6042px;
    Font-weight: 400;
    Line-height: 99.6042px;
    color: rgb(0, 0, 0);
}
/*---------------------container4-------------------- */
.container4{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    position: sticky;
    z-index: 96;
    top: 0;
    bottom: 0;
}
/*-----------container4-left-------------- */
.container4>.left{
    width: 70%;
    height: 100%;
    display: flex;
    background-image: url(container4left.jpg);
    background-size: cover;
    background-position: center;
}
.container4>.left>img{
    width: 100%;
    height: 100%;
    

}
/*-----------container4-right-------------- */
.container4>.right{
    width: 30%; 
    height: 100%;
    background-color: white;
    padding: 0 0 26.2vmax 0;
}
.container4>.right>h1{
    margin: 9vmax 0 0 3vmax;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    Font-size: 36.0472px;
    Font-weight: 400;
    Line-height:  39.652px;
    color: rgb(0, 0, 0);
}
.container4>.right>button{
    margin: 2.5vmax 0 0 3vmax;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    Font-size: 20.8695px;
    Font-weight: 400;
    Line-height: 27.1303px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border-style: none;
    /* background-color: #DBB258; */
    
}
.container4>.right>button>i{
    transition: all 0.5s ease;
    margin:  0 0 0 0.7vmax;
    
}
.container4>.right>button:hover i{
    transform: translateX(50%);
}

/*---------------------container5---------------------- */
.container5{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    position: sticky;
    z-index: 95;
    top: 0;
    bottom: 0;
    color: white;
    background-color: black;
}
.container5>.left{
    width: 60%;
    height: 100%;
    /* background-color: #DBB258; */
}

/* --------- */

.container5>.left>.left2{
    display: flex;
    padding: 15vmax 0 0 2vmax;
    /* background-color: #DBB258; */
}
.container5>.left>.left2>h1>i{
    font-size: 1.3vmax;
    margin: 0 1vmax 0vmax 0vmax;
    transition: all 0.5s ease;
}
.container5>.left>.left2>h1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    Font-size: 36.0472px;
    Font-weight: 400;
    Line-height: 39.652px;
    color: rgb(255, 255, 255);
}
.container5>.left>.left2>h1:hover i{
    transform: translateX(50%);
}

/* ------------- */

.container5>.left>.left3{
    padding: 19.3vmax 0 0 2vmax;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin: 0 0vmax 0 2vmax;
}
.container5>.left>.left3>h1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    Font-size: 20.8695px;
    Font-weight: 400;
    Line-height: 27.1303px;
    color: rgb(255, 255, 255);
}
.container5>.left>.left3>img{
    width: 20%;
    justify-content: end;
    align-items: flex-start;
    margin:  0 0 0 0.8vmax;
    color: white;
}
.container5>.left>.left3>.img2{
    width: 15%;
    margin:  0 0 0 0.6vmax;
}
.container5>.left>h1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    Font-size: 12px;
    Font-weight: 400;
    Line-height: 14.4px;
    color: #555555;
    margin:  0 0 0vmax 3.8vmax;
    padding: 0 0 4vmax 0;
}
/*-------------container--right--------- */

.container5>.right{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container5.right>img{
  width: 100%;
}